@use "../../styles/partials/animations" as *;

.complete {
  background-color: darkorange !important;
  color: white;
  animation-duration: 2s;
  animation-name: fade;
  animation-iteration-count: infinite;
}
