.lecture {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid black;
  min-width: 90px;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.done {
  background-color: grey;
  width: 10px;
  height: 10px;
  min-width: 3px;
  padding: 0;
}
