@use "./partials/resets";

body {
  font-family: "Roboto", sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  margin: 1rem;
  text-align: center;
}

.timer {
  span {
    margin: 1rem;
    font-weight: bold;
    font-size: 2rem;
  }

  &__btn {
    margin-right: 1rem;
  }
}

.countdowns {
  display: flex;
  justify-content: center;

  span {
    padding: 2rem;
    background-color: aquamarine;
    border-radius: 10px;
    font-size: 3rem;
    // text-indent: -72px;
    // overflow: hidden;
  }
}

.controls {
  display: flex;
  justify-content: center;
}
