@use "./partials/resets";

.header {
  margin: 1rem;
}

.timer {
  span {
    margin: 1rem;
    font-weight: bold;
    font-size: 2rem;
  }

  &__btn {
    margin-right: 1rem;
  }
}

.countdowns {
  display: flex;
  justify-content: space-around;
}

.controls {
  display: flex;
  justify-content: center;
}
